*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  text-align: center;
}

input:focus{
  outline: none;
}

h4{
  margin: 0;
  padding: 0;
}

.inputSection{
  margin: 10px 0;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label {
  padding: 10px;
  background-color: pink;
  border: 1px solid black;
}

.inputSection input{
  border: 1px solid black;
  width: 60%;
  padding: 10px 20px;
}

.addButton{
  border: 1px solid black;
  background-color: lightgreen;
  padding: 10px 20px;
  cursor: pointer;
}

.addButton:hover{
  background-color: rgb(121, 236, 121);
}

.listItem{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.listText{
  width: 50%;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.delBtn{
  border-radius: 5px;
  border: 0;
  position: relative;
  background-color: rgba(230, 38, 38, 0.411);
  right: 50px;
  cursor: pointer;
}
.delBtn h4{
  padding: 10px 20px;
  margin: 0;
}